<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                    <tr class="#{!streetNumber.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="streetNumber" for="streetNumber" />
                        </td>
                        <td>
                            <h:inputText id="streetNumber" value="#{customer.streetNumber}" title="streetNumber" required="true" requiredMessage="Please enter the street number!" validatorMessage="Please enter a street number between 1 and 1000" converterMessage="Please enter a number" pt:placeholder="11">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" /> 
							</h:inputText>
                            <br/>
                            <h:message for="streetNumber" class="#{!streetNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                    
                    <tr class="#{!streetAddress.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="streetAddress" for="streetAddress" />
                        </td>
                        <td>
                            <h:inputText id="streetAddress" value="#{customer.streetAddress}" title="streetAddress" required="true" requiredMessage="Please enter the street address!" pt:placeholder="MacGregor Rd"/>
                            <br/>
                            <h:message for="streetAddress" class="#{!streetAddress.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!suburb.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="suburb" for="suburb" />
                        </td>
                        <td>
                            <h:inputText id="suburb" value="#{customer.suburb}" title="suburb" required="true" requiredMessage="Please enter the suburb!" pt:placeholder="Malvern East"/>
                        	<br/>
                            <h:message for="suburb" class="#{!suburb.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!state.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="state" for="state"/>
                        </td>
                        <td>
                            <h:inputText id="state" value="#{customer.state}" title="state" size="3" required="true" requiredMessage="Please enter the state!" validatorMessage="Please enter a state with 3 letters" pt:placeholder="VIC">
                            <f:validateLength minimum="3" maximum="3" />
                            </h:inputText>
                            <br/>
                            <h:message for="state" class="#{!state.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!postcode.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="postcode" for="postcode" />
                        </td>
                        <td>
                            <h:inputText id="postcode" value="#{customer.postcode}" title="postcode" required="true" requiredMessage="Please enter the postcode!" validatorMessage="Please enter a postcode between 0200 and 4700" converterMessage="Please enter a number" pt:placeholder="3163">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="200" maximum="4700" /> 
							</h:inputText>
							<br/>
							<h:message for="postcode" class="#{!postcode.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    <tr class="#{!country.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="country" for="country" />
                        </td>
                        <td>
                            <h:inputText id="country" value="#{customer.country}" title="country" required="true" requiredMessage="Please enter the country!" validatorMessage="Please enter a country" pt:placeholder="Australia">
							</h:inputText>
							<br/>
							<h:message for="country" class="#{!country.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    
                    <tr>
                        <td>
                            <h:outputLabel value="Name:" for="name" />
                        </td>
                        <td>
                            <h:inputText id="name" value="#{customer.name}" title="Name" required="true" requiredMessage="Please enter the name!" validatorMessage="Please enter a name" pt:placeholder="Bill">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="name" class="#{!name.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr>
                        <td>
                            <h:outputLabel value="IndustryType:" for="industryType"/>
                        </td>
                        <td>
                            <h:inputText id="industryType" value="#{customer.industryType}" title="IndustryType" required="true" requiredMessage="Please enter the industry type!" validatorMessage="Please enter a industry type" pt:placeholder="Bank">
                           	</h:inputText>
                           	<br/>
                           	<h:message for="industryType" class="#{!industryType.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!gender.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="gender" for="gender" />
                        </td>
                        <td>
                            <h:inputText id="gender" value="#{customer.gender}" title="gender" required="true" requiredMessage="Please enter the gender!" validatorMessage="Please enter a gender" pt:placeholder="Female">
							</h:inputText>
							<br/>
							<h:message for="gender" class="#{!gender.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!dob.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="dob" for="dob" />
                        </td>
                        <td>
                            <h:inputText id="dob" value="#{customer.dob}" title="dob" required="false" requiredMessage="Please enter the date of birth!" validatorMessage="Please enter a date of birth">
                              <f:convertDateTime type="date" dateType="short" />
							</h:inputText>
							<br/>
							<h:message for="dob" class="#{!dob.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!rate.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="rate" for="rate" />
                        </td>
                        <td>
                            <h:inputText id="rate" value="#{customer.rate}" title="rate" required="true" requiredMessage="Please enter the rate!" validatorMessage="Please enter a rate between 1.0 and 5.0" converterMessage="Please enter a number" pt:placeholder="1">
	                            <f:convertNumber doubleOnly="true"/>
								<f:validateDoubleRange minimum="1.0" maximum="5.0"/>
							</h:inputText>
                            <br/>
                            <h:message for="rate" class="#{!rate.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                    
                    <tr class="#{!id.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="id" for="id" />
                        </td>
                        <td>
                            <h:inputText id="id" value="#{customer.id}" title="id" required="true" requiredMessage="Please enter the user id!" validatorMessage="Please enter a user id between 1 and 1000" converterMessage="Please enter a number" pt:placeholder="1">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" /> 
							</h:inputText>
                            <br/>
                            <h:message for="id" class="#{!id.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomer.addCustomer(customer)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

