<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customer Contacts
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerContactController.customerContact.customerContactId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">SMS Number: </td>
                        <td valign="bottom">
                            <h:inputText id = "SmsNumber" value="#{customerContactController.customerContact.smsNumber}" binding="#{smsNumber}" required="false"
                                         validatorMessage="Please enter a valid sms Number."
                                         requiredMessage="Please enter a sms Number. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>
                        <td valign="bottom">
                            <h:inputText id = "PhoneNumber" value="#{customerContactController.customerContact.phoneNumber}" binding="#{phoneNumber}" required="true"
                                         validatorMessage="Please enter a valid Phone Number."
                                         requiredMessage="Please enter a Phone Number. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Email: </td>
                        <td valign="bottom">
                            <h:inputText id = "Email" value="#{customerContactController.customerContact.email}" binding="#{email}" required="true"
                                         validatorMessage="Please enter a valid email."
                                         requiredMessage="Please enter a email. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Company Name: </td>
                        <td valign="bottom">
                            <h:inputText id = "CompanyName" value="#{customerContactController.customerContact.companyName}" binding="#{companyName}" required="true"
                                         validatorMessage="Please enter a valid company name."
                                         requiredMessage="Please enter a company name. "></h:inputText>    
                        </td>
                    </tr>         
                    <tr>
                        <td width ="100" valign="top">Customer Id: </td>
                        <td valign="bottom">
                            <h:inputText id = "CustomerId" value="#{customerContactController.customerContact.customer.customerId}" binding="#{customerId}" required="true"
                                         validatorMessage="Please enter a valid customer Id."
                                         requiredMessage="Please enter a cusstomer Id. "></h:inputText>    
                        </td>
                    </tr>           
                  </table>
                <h:commandButton id="save" value="Save" action="#{customerContactManagedBean.editCustomerContact(customerContactController.customerContact)}"  class="btn btn-primary" >
                    <f:param name="customerContactId" value="#{customerContactController.customerContactId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

