<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Edit Customers
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">

                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street number: </td>
                        <td valign="bottom">
                            <h:inputText id = "StreetNumber" value="#{customerController.customer.address.streetNumber}" binding="#{streetNumber}" required="true"
                                         validatorMessage="Please enter a valid street number."
                                         requiredMessage="Please enter an street number. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Street address: </td>
                        <td valign="bottom">
                            <h:inputText id = "StreetAddress" value="#{customerController.customer.address.streetAddress}" binding="#{streetAddress}" required="true"
                                         validatorMessage="Please enter a valid street address."
                                         requiredMessage="Please enter an street address. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">State: </td>
                        <td valign="bottom">
                            <h:inputText id = "State" value="#{customerController.customer.address.state}" binding="#{state}" required="true"
                                         validatorMessage="Please enter a valid state."
                                         requiredMessage="Please enter a state. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Post Code: </td>
                        <td valign="bottom">
                            <h:inputText id = "Postcode" value="#{customerController.customer.address.postcode}" binding="#{postcode}" required="true"
                                         validatorMessage="Please enter a valid post code."
                                         requiredMessage="Please enter a post code. "></h:inputText>    
                        </td>
                    </tr>         
                    <tr>
                        <td width ="100" valign="top">Country: </td>
                        <td valign="bottom">
                            <h:inputText id = "Country" value="#{customerController.customer.address.country}" binding="#{country}" required="true"
                                         validatorMessage="Please enter a valid country."
                                         requiredMessage="Please enter an street country. "></h:inputText>    
                        </td>
                    </tr>           
                    <tr>
                        <td width ="100" valign="top">Rate: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "Rate" value="#{customerController.customer.rate}"  required="true"
                                         validatorMessage="Rate must be greater than 0"
                                                 requiredMessage="Please enter rate. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Name </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "Name" value="#{customerController.customer.name}"  required="true"
                                         validatorMessage="Please enter the name"
                                                 requiredMessage="Please enter a name. ">
                            </h:inputText>    
                            
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Size: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "IndustryType" value="#{customerController.customer.industryType}"  required="true"
                                         validatorMessage="Please enter the industry type"
                                                 requiredMessage="Please enter a industry type. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Gender: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "Gender" value="#{customerController.customer.gender}"  required="true"
                                         validatorMessage="Please enter the gender"
                                                 requiredMessage="Please enter a gender. "></h:inputText>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Date of Birth: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "Dob" value="#{customerController.customer.dob}"  required="false"
                            
                                         validatorMessage="Please enter the date of birth"
                                                 requiredMessage="Please enter a date of birth. ">
                                                 <f:convertDateTime pattern="dd-MM-yyyy" /></h:inputText>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">User id: </td>
                        
                        <td valign="bottom">
                            <h:inputText id = "UserId" value="#{customerController.customer.users.id}"  required="true"
                                         validatorMessage="Please enter the user id"
                                                 requiredMessage="Please enter a user id. "></h:inputText>    
                        </td>
                    </tr>
                </table>
                
                <h:commandButton id="save" value="Save" action="#{customerManagedBean.editCustomer(customerController.customer)}"  class="btn btn-primary" >
                    <f:param name="customerId" value="#{customerController.customerId+1}"/>
                </h:commandButton>
                <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
            </h:form>
        </div>
    </h:body>
</html>

