<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Add Customer Contact
                </div>
            </div>
            <div>
        <f:view>
            <h:form>
                <h1><h:outputText value="Create"/></h1>
                
                <table class="table table-bordered ">
                
                    <tr class="#{smsNumber.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="smsNumber" for="smsNumber" />
                        </td>
                        <td>
                            <h:inputText id="smsNumber" value="#{customerContact.smsNumber}" title="smsNumber" required="false"  pt:placeholder="0477777778">
							</h:inputText>
                            <br/>
                            <h:message for="smsNumber" class="#{!smsNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                    
                    <tr class="#{!phoneNumber.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="phoneNumber" for="phoneNumber" />
                        </td>
                        <td>
                            <h:inputText id="phoneNumber" value="#{customerContact.phoneNumber}" title="phoneNumber" required="true" requiredMessage="Please enter the phone number" pt:placeholder="0477777779"/>
                            <br/>
                            <h:message for="phoneNumber" class="#{!phoneNumber.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!email.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="email" for="email" />
                        </td>
                        <td>
                            <h:inputText id="email" value="#{customerContact.email}" title="suburb" required="true" requiredMessage="Please enter the email!" validatorMessage="Please enter a email address with correct format." pt:placeholder="jzho0061@student.monash.edu">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                            </h:inputText>
                        	<br/>
                            <h:message for="suburb" class="#{!email.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!companyName.valid ? 'has-error' : 'none'}">
                        <td>
                            <h:outputLabel value="companyName" for="companyName"/>
                        </td>
                        <td>
                            <h:inputText id="companyName" value="#{customerContact.companyName}" title="companyName" required="true" requiredMessage="Please enter the company name!" pt:placeholder="Monash"/>
                            <br/>
                            <h:message for="state" class="#{!companyName.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    
                    </tr>
                    
                    <tr class="#{!customerId.valid ? 'has-error' : 'none'}">
                        <td width ="200">
                            <h:outputLabel value="customerId" for="CustomerId" />
                        </td>
                        <td>
                            <h:inputText id="customerId" value="#{customerContact.customerId}" title="customerId" required="true" requiredMessage="Please enter the customer id!" validatorMessage="Please enter a customer id between 1 and 1000" converterMessage="Please enter a number" pt:placeholder="2">
	                            <f:convertNumber integerOnly="true"/>
								<f:validateLongRange minimum="1" maximum="1000" /> 
							</h:inputText>
                            <br/>
                            <h:message for="customerId" class="#{!customerId.valid ? 'label label-warning' : 'none'}" />
                        </td>
                    </tr>
                </table>
                
                <h:commandButton id="submit" value="Submit" action="#{addCustomerContact.addCustomerContact(customerContact)}" class="btn btn-primary" >
                </h:commandButton>
                <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
            	
            </h:form>
			
        </f:view>
            </div>
        </div>
       
    </h:body>
</html>

