<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Contact Detail
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerContactController.customerContact.customerContactId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">SMS Number:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "SMSNumber" >#{customerContactController.customerContact.smsNumber}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Phone Number: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "PhoneNumber" >#{customerContactController.customerContact.phoneNumber}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">EMAIL : </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Email" >
                                #{customerContactController.customerContact.email}
                            </h:outputLabel>    
                            
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Company Name: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "CompanyName" >#{customerContactController.customerContact.companyName}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Customer Id: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Gender" >#{customerContactController.customerContact.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
                
            </h:form>
        </div>
    </h:body>
</html>

