<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                    #{titleController.pageTitle} - Customer Detail
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered ">
                    <tr>
                        <td width ="150" valign="top">Id:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Id" >#{customerController.customer.customerId}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Address:</td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Address" >#{customerController.customer.address}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Rate: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Rate" >#{customerController.customer.rate}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Name : </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Name" >
                                #{customerController.customer.name}
                            </h:outputLabel>    
                            
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Industry Type: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "IndustryType" >#{customerController.customer.industryType}</h:outputLabel>    
                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">Gender: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Gender" >#{customerController.customer.gender}</h:outputLabel>    
                        </td>
                    </tr>
                     <tr>
                        <td width ="100" valign="top">Date of Birth: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "Dob" >#{customerController.customer.dob} 
                            </h:outputLabel>

                        </td>
                    </tr>
                    <tr>
                        <td width ="100" valign="top">User Id: </td>
                        
                        <td valign="bottom">
                            <h:outputLabel id = "UserId" >#{customerController.customer.users.id}</h:outputLabel>  
                        </td>
                    </tr>
                    
                 </table>   
                 <h:link id="close" value="Close" outcome="index.xhtml"
						class="btn btn-primary" />
                
            </h:form>
        </div>
    </h:body>
</html>

