<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <h:outputStylesheet library="css" name="bootstrap.min.css"></h:outputStylesheet>
        <title>#{titleController.pageTitle}</title> 
    </h:head>
    <h:body>
        <div class="container">
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   	#{titleController.pageTitle} - Customer   List
                </div>
            </div>

            <h:form id="MyForm">
                <table class="table table-bordered table-striped">
                    <!-- For each customer in customers ArrayList... --> 
                    <tr>
                            <td> 
                                <h:outputLabel id="Id" value="Id"  />
                            </td>
                            <td> 
                                <h:outputLabel id="Name" value="Name"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Address" value="Address"/>
                            </td>
                            
                            <td> 
                                <h:outputLabel id="Rate" value="Rate"/>
                            </td>
                            
                     </tr>
                    
                    <ui:repeat id="Myrepeat" value="#{customerApplication.customers}"  var="customer" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyForm:principle').value = document.getElementById('MyForm:Myrepeat:#{status.index}:outName').textContent"> 
                            <td>
                                <h:outputText value="#{customerApplication.customers.get(status.index).customerId}" id="customerId" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outName" value="#{customerApplication.customers.get(status.index).name}"  />
                            </td>
                            <td>
                                <h:outputText id="outAddress" value="#{customerApplication.customers.get(status.index).address}"></h:outputText>
                            </td>
                            <td>
                                <h:outputText id="outRate" value="#{customerApplication.customers.get(status.index).rate}"></h:outputText>
                            </td>
                            <td>
                                <h:link value="View | " outcome="detail.xhtml">
                                  <f:param name="customerId" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="edit.xhtml">
                                  <f:param name="customerId" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeCustomer.removeCustomer(customerApplication.customers.get(status.index).customerId)}" disabled="#{customerApplication.customers.get(status.index).customerId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 

                </table>
                
                <div>
                    <h:commandButton id="add" value="Add" action="add.xhtml" class="btn btn-primary" />
                
                    <h:commandButton id="viewAll" value="View All" action="#{searchCustomer.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerId" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyForm:searchById').value.trim() == '') {document.getElementById('MyForm:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchId" value="Search by Id" action="#{searchCustomer.searchCustomerById(searchCustomer.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerId" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomer.searchByDouble}" id="searchByRate" required="true" onchange="if (document.getElementById('MyForm:searchByRate').value.trim() == '') {document.getElementById('MyForm:searchByRate').value = 0.0;} " /> 
                    <h:commandButton id="searchRate" value="Search by Rate" action="#{searchCustomer.searchCustomerByRate(searchCustomer.searchByDouble)}" class="btn btn-primary" >
                        <f:param name="customerID" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
            </h:form>
            <div class="navbar navbar-inverse">
                <div class="navbar-brand">
                   	#{titleController.pageTitle} - Customer   Contact	List
                </div>
            </div>
             <h:form id="MyFormTwo">
                <table class="table table-bordered table-striped">
                    <tr>
                            <td> 
                                <h:outputLabel id="ContactId" value="ContactId"  />
                            </td>
                            <td> 
                                <h:outputLabel id="PhoneNumber" value="PhoneNumber"  />
                            </td>
          
                            <td> 
                                <h:outputLabel id="Email" value="Email"/>
                            </td>
                            
                     </tr>
                    
                    <ui:repeat id="MyrepeatTwo" value="#{customerContactApplication.customerContacts}"  var="customerContact" varStatus="status"> 
                        
                        <tr onclick="document.getElementById('MyFormTwo:principle').value = document.getElementById('MyFormTwo:MyrepeatTwo:#{status.index}:outName').textContent"> 
                            <td>
                                <h:outputText value="#{customerContactApplication.customerContacts.get(status.index).customerContactId}" id="customerContactId" /> 
                                
                            </td>
                            
                            <td> 
                                <h:outputText id="outPhoneNumber" value="#{customerContactApplication.customerContacts.get(status.index).phoneNumber}"  />
                            </td>
                            <td>
                                <h:outputText id="outEmail" value="#{customerContactApplication.customerContacts.get(status.index).email}"></h:outputText>
                            </td>
                            <td>
                                <h:link value="View | " outcome="contactDetail.xhtml">
                                  <f:param name="customerContactId" value="#{status.index + 1}"/>
                                </h:link>

                                <h:link value="Edit | " outcome="contactEdit.xhtml">
                                  <f:param name="customerContactId" value="#{status.index + 1}"/>
                                </h:link>
                                
                                <h:commandLink value="Delete" action="#{removeCustomerContact.removeCustomerContact(customerContactApplication.customerContacts.get(status.index).customerContactId)}" disabled="#{customerContactApplication.customerContacts.get(status.index).customerContactId == null}">
                                </h:commandLink>
                                    
                                <h:outputText value=" "/>
                            </td>
                            
                        </tr> 

                    </ui:repeat> 

                </table>
                
                <div>
                    <h:commandButton id="addContact" value="Add" action="contactAdd.xhtml" class="btn btn-primary" />
                
                    <h:commandButton id="viewAllContact" value="View All" action="#{searchCustomerContact.searchAll()}" class="btn btn-primary" >
                        <f:param name="customerContactId" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                <div>
                    <h:inputText value="#{searchCustomerContact.searchByInt}" id="searchById" required="true" onchange ="if (document.getElementById('MyFormTwo:searchById').value.trim() == '') {document.getElementById('MyFormTwo:searchById').value = 0;} "   /> 
                    <h:commandButton id="searchContactId" value="Search by Id" action="#{searchCustomerContact.searchCustomerContactById(searchCustomerContact.searchByInt)}" class="btn btn-primary" >
                        <f:param name="customerContactId" value="#{status.index + 1}"/>
                    </h:commandButton>
                </div>
                
                
            </h:form>
        </div>
    </h:body>
</html>

